.jumbotron {
    padding-top: 6rem;
    background-color: #ffeda7;
}

section {
    padding-top: 6rem;
}

.projects {
    padding-top: 6rem;
    background-color: #ffeda7;
}

.gallery-img {
    width: 100%;
}

#gallery .row > * {
    padding: 0;
}

footer {
    background-color: #ff8400;
}