.jumbotron {
    padding-top: 6rem;
    background-color: #ffeda7;
}

section {
    padding-top: 6rem;
}

.projects {
    padding-top: 6rem;
    background-color: #ffeda7;
}

footer {
    background-color: #ff8400;
}